a {
    vertical-align: top;
    margin-left: 5px;
    color: #298de8;
    cursor: pointer;
}

.ui-table input[type=text],.ui-fixedHead-table input[type=text] {
    border: 1px solid #c2e2f2;
    width: 100%;
    box-sizing: border-box;
    height: 26px
}

.ui-table {
    width: 100%;
    border-collapse: collapse
}

.ui-table tr td,.ui-table tr th {
    line-height: 30px;
    box-sizing: border-box;
    height: 30px;
    padding-right: 2px;
    padding-left: 2px;
    word-break: break-all;
    border: 1px solid #e0e0e0;
    text-align:center;
}

.ui-table tr th {
    font-weight: bold;
    text-align: center;
    color: #303030;
    background-color: #e6f0f2
}

.ui-table .even_line {
    background-color: #eef6ff
}

.ui-table tr th {
    border-bottom: 2px solid #95ccee
}

.ui-table tr .th-border-e0 {
    border-bottom: 1px solid #e0e0e0
}

.ui-table-nb {
    width: 100%;
    border-collapse: collapse
}

.ui-table-nb tr td,.ui-table-nb tr th {
    line-height: 30px;
    box-sizing: border-box;
    height: 30px;
    padding-right: 2px;
    padding-left: 2px;
    word-break: break-all;
    border: 1px solid #e0e0e0
}

.ui-table-nb tr th {
    font-weight: bold;
    text-align: center;
    color: #303030;
    background-color: #e6f0f2
}

.ui-table-nb .even_line {
    background-color: #eef6ff
}